/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap
 *= require_tree .
 *= require_self
 */

 /*font-family: 'Fira Mono', ;*/
 /*font-family: 'VT323', ;*/
 /*font-family: 'Rajdhani', sans-serif;*/
 /*font-family: 'Roboto Mono', ;*/
 /*font-family: 'Timmana', sans-serif;*/

 h1 {
 	margin: 6px;
 	font-size: 32px;
 	overflow: hidden;
 }

h1 a {
	color: #333;
}

h1 a:hover {
  text-decoration: line-through;
  color: #333;
}

.mixes {
	padding-top: 10pt;
	padding-right: 20pt;
}

.notification {
	line-height: 50px;
}

ul.notification li a {
	display: block;
	border-bottom: 2px transparent solid;
	line-height: 50px;
}

.notification:hover {
	background-color: #fbfbfb;
	text-decoration: none;
}
ul.notification li a:hover {
	text-decoration: none;
}
.notification__content {
	padding-left: 30px;
	color: black;
}
.unread {
	background-color: #f2f2f2;
}
.unread:hover {
	background-color: #fbfbfb;
}

.pull-right {
	margin-right: 10px;
	margin-top: 20px;
}

.alert {
	margin-bottom: 0;
}


.center-block {
	padding: 10em;
	text-align: center;
}

.left-form {
	padding-top: 5em;
	padding-left: 35em;
	text-align: right;
}

.enter-noises {
	padding: 10pt;
}

.container {
	padding-top: 50pt;
	width: 90%;
}
.btn btn-default {
  background: #ff0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  border-radius: 0px;
  }

.btn:hover {
  text-decoration: none;
}