html, body, textarea, .container, div, input, span, h1, h2, a, img, tt, var, b, u, i, ol, ul, li, fieldset, form, table, caption, tbody, tfoot, thead, tr, th, td {margin:0; padding:0; border:1; outline:0; font-size:100%; vertical-align:baseline; background:transparent;} div {padding-left: 0 !important;} body {line-height: 1;}ol, ul{list-style:none;} blockquote, q{quotes:none;} blockquote:before, blockquote:after, q:before, q:after{content:'';content:none;} :focus{outline:0;} ins{text-decoration:none;} del{text-decoration:line-through;} table{border-collapse:collapse; border-spacing:0;}
#menu-icon {
  display: none;
  width: 40px;
  height: 40px;
  background: url(menu-icon.png);
  background-size: 100%;
}
a:hover#menu-icon {
  background-color: #444;
  border-radius: 1px 4px 0 0;
}

/*smaller port width*/
@media only screen and (max-width : 840px) {
  h1.form {
    font-size: 27px;
  }
}
@media only screen and (max-width : 750px) {
  span.desktop-display {
    display: none;
  }
}
@media only screen and (max-width : 670px) {
  span.user-info {
    display: none;
  }
}
@media only screen and (max-width : 618px) {
  h1.form {
    font-size: 24px;
  }
}
@media only screen and (max-width : 504px) {
  #menu-icon {
    display:inline-block;
  }
  .navbar .nav {
    position: absolute;
  }
  nav ul, nav:active ul { 
    display: none;
    position: absolute;
    padding: 10px 2px;
    background: #fff;
    border: 1px solid #444;
    width: 120px;
    border-radius: 1px 0 4px 4px;
  }
  nav li {
    text-align: center;
    width: 100%;
    padding: 8px 0;
    margin: 0;
  }
  nav li:hover {
    border-left: 2px #333 solid;
    background-color: #fbfbfb;
  }  
  nav li:visited {
    border-left: 2px #333 solid;
    background-color: #fbfbfb;
  }
  nav a:hover {
    text-decoration: none !important;
  }
  nav:hover ul {
    display: block;
    right: 17px;
    z-index: 10;
  }
}
@media only screen and (max-width : 480px) {
  html, 
  body, 
  form, 
  .container {
    width: 100%;
    margin: 0 auto !important;
  }
  /*hide navbar in menu icon*/
  #user_remember_me {
    position: fixed;
    margin-left: -60px;
  }
  input, 
  textarea, 
  input#contact_subject, 
  input#contact_name, 
  input#contact_email, 
  textarea#contact_body,
	.btn {
		margin: 4px 0 !important;
		width: 100% !important;
		display: block;
    padding: 4px !important;
    line-height: 28px;
	}
  button.btn, input[type="submit"].btn {
    display: inline-block;
    width: 100%;
    text-align: center;
  }
	button.btn, input[type="search"].btn {
    width: 30px !important;
	}
  .icon-search {
    background-position: -48px 0px;
  }
  [class^="icon-"], [class*=" icon-"] {
    margin-top: -4px;
  }
  .center-block {
    padding: 0 !important;
    margin: 0 !important;
  }
  .left-form {
    padding-left: 0 !important;
  }
}